# Chrome Extension CRX ID (run 'pnpm generate:crx-key' to auto-generate)
CRX_PUBLIC_KEY=

# Clerk Configuration
VITE_CLERK_PUBLISHABLE_KEY=pk_test_...
VITE_CLERK_SYNC_HOST=https://sploot.app
CLERK_SECRET_KEY=sk_test_...
